* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    height: 100%;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    color: #2D2B36;
    width: 100%;
}
#page-container {
    position: relative;
    min-height: 100vh;
    padding: 160px 150px 0px 150px;
}
#content-wrap: {
    padding: 4em;
}
body {
    text-align: center;
    color: #3F3C4A;
    overflow-x: hidden;
}
#logo {
    width: 450px;
    height: auto;
    margin-bottom: 20px;
}
h1 {
    margin-bottom: 30px;
    font-size: 3.75em;
    font-weight: 700;
}
h2 {
    font-size: 1.75em;
    font-weight: 500;
}
#app-store {
    width: 200px;
    height: auto;
    margin-top: 50px;
}
footer {
    position: absolute;
    height: 4em;
    bottom: 0;
    width: 80%;
    font-family: Inter;
    font-size: 1.2em;
    background-image: linear-gradient(76deg, #ff129b, #ff6493, #8727ff, #d427ff);
    background-size: 800% 800%;
    -webkit-animation: gradient 16s ease infinite;
    animation: gradient 16s ease infinite alternate;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}
#blob1,
#blob2,
#blob3 {
    opacity: 0.3;
    position: absolute;
    height: auto;
    z-index: -1;
}
#blob1 {
    width: 450px;
    top: 335px;
    left: 550px;
}
#blob2 {
    width: 600px;
    top: -180px;
    right: -190px
}
#blob3 {
    width: 475px;
    top: 25px;
    left: -80px;
}
@-webkit-keyframes gradient {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}
@keyframes gradient {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}
#privacy,
#terms {
    float: left;
    margin-right: 40px;
}
#contact {
    float: right;
}

/*
body {
    background-image: linear-gradient(76deg, #ff129b, #ff6493, #8727ff, #d427ff);
    background-size: 800% 800%;
    -webkit-animation: AnimationName 16s ease infinite;
    animation: AnimationName 16s ease infinite alternate;
}


.title {
    font-family: Inter;
    font-size: 54pt;
    font-weight: 800;
    background-image: linear-gradient(76deg, #ff129b, #ff6493, #8727ff, #d427ff);
    background-size: 800% 800%;
    -webkit-animation: AnimationName 16s ease infinite;
    animation: AnimationName 16s ease infinite alternate;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
} */
